//CONTROLS LUX-GALLERY DOWN TO LUX-DIV


/* lux-gallery-title */
    $title_align: center;


/* lux-subcontainer */
    $subcontainer_pad: $genspace 0px 0px $genspace;
        $subcontainer_padTablet: $genspaceTablet 0px 0px $genspaceTablet; 
        $subcontainer_padPhablet: $genspacePhablet 0px 0px $genspacePhablet;    
        $subcontainer_padMobile: $genspaceMobile 0px 0px $genspaceMobile;
        $subcontainer_padWatch: $genspaceWatch 0px 0px $genspaceWatch;        
    