@import 'breakpoint';

//BREAKPOINTS
$watch: 0px 290px;
$mobile: 291px 400px;
$phablet: 401px 600px;
$tablet: 601px 880px;


//GENERAL SPACING
$genspace: 26px;

    $genspaceTablet: 20px;
    $genspacePhablet: 16px;
    $genspaceMobile: 14px;
    $genspaceWatch: 2px;

//BOX-SZIING
@mixin boxsize(){
    box-sizing: border-box;
}
.lux-gallery {
    @include boxsize();
}
.lux-gallery * {
    @include boxsize();
}