@import 'breakpoint';

//UNIVERSALIS
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;    
  box-sizing: inherit;
}



//COLORS
$yellow: #FFC91D;
$mellow: #FFE695;


//GRID
.uber {
    max-width: 1300px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    border: 1px solid black;
}
